<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/mydict.css' />
        <script type="text/javascript" src="/javascripts/mydict.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
    </head>
    <body>
        <div class='main'>
            <div class='header'>
                <div class='user'>
                    {{#if username}}
                    Welcome: {{username}}
                    {{else}}
                    <a href='/login'>Login</a>
                    {{/if}}
                </div>
                <div>
                    <a href='/dict/history'>History</a>
                </div>
            </div>
            <div class='searchline'>
                <input id='sb' class='searchbox' type='text' value='{{data.searchword}}' onkeypress="onKeyDown(event)" onFocus="this.select()" autofocus>
                <button id='searchbtn' class='btn' onclick='queryWord()'>Search</button>
            </div>
            <div>
                {{#if data.freq}}
                <div>
                    Word Frequency: <span class='freq'>{{data.freq}}</span>
                </div>
                {{/if}}
                {{#if found}}
                <div>
                    {{#each data.entries}}
                    <div class='wordline'>
                        <span class='word'>{{word}}</span><span class='pron'>/{{pron}}/</span><img src='/images/ic_speak.png' width="24" height="24" onclick="speak(event)"/>
                    </div>
                    {{#if forms}}
                    <div class='forms'>
                        Word Forms:
                        {{#each forms}}
                            <span class='forms-item'>{{this}}</span>
                        {{/each}}
                    </div>
                    {{/if}}
                    <h2>{{mean}}</h2>
                    {{#each definitions}}
                    <h4>{{gram}}</h4>
                    {{#each sense}}
                    <p class='sense'>{{this}}</p>
                    {{/each}}
                    {{/each}}
                    {{/each}}
                </div>
                {{else}}
                <ul>
                    {{#each data}}
                    <li><a href='/dict/{{this}}' >{{this}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </div>

        <div id="results"></div>
    </body>
</html>
